.nav-pills{
  font-size: 1.8em;
  margin-bottom: 15%;
}

.nav-pills a{
  color: rgb(255, 108, 99);
  font-size: 1.5em;
  margin-top: 20px;
}

body{
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h1{
  padding: 0;
  margin-top: 0px;
  font-size: 5em;
  color: white;
}

#projectheading{
  padding-bottom: 50px;

}

.btn-default{
  background-color: black;
  border-color: black;
  color: white;
  opacity: .6;
  font-size: 1.6em;
  margin-top: 1%;
  margin-left: 35px;
}

.block{
  background-color: black;
  opacity: .6;
  padding: 20px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;

}

/* Up Arrow */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 20px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    opacity: .6;
    font-size: 30px;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.pageOne{
  background:url("https://images.unsplash.com/photo-1506440885189-ba4072a9305f?auto=format&fit=crop&w=1500&q=80");
  background-size:cover;
  height: 900px;
}

.pageTwo{
  background: url("https://images.unsplash.com/photo-1472437774355-71ab6752b434?auto=format&fit=crop&w=1567&q=80");
  background-size:cover;
  height: 900px;
  padding-top:10%;
  color:rgb(255, 108, 99);
}

p{
  font-size:2.0em;
}

/* Picture of me */
.me{
  height: 500px;
  border-radius: 50%;
}

.pageThree{
  background:url("https://images.unsplash.com/photo-1489257900339-13e688fb85fd?auto=format&fit=crop&w=1500&q=80");
  background-size:cover;
  height:1000px;
  padding-top:5%;
}


#projectbuttons {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    font-size: 20px;
}

.pageFour{
  background:url("https://images.unsplash.com/photo-1484544808355-8ec84e534d75?auto=format&fit=crop&w=1366&q=80");
  background-size:cover;
  height:900px;
  padding-top:3%;
}

#p4Heading{
  padding-bottom: 160px;
}

#printfont {
  color: rgb(255, 108, 99);
  padding-bottom: 70px;
  font-size: 40px;
  font-weight: bolder;
}

/* Download Resume Button */

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 8px;
}

.button:hover {
  text-decoration: none;
}
.pageFive{
  background:url("https://images.unsplash.com/photo-1505032254650-38c840ef254d?auto=format&fit=crop&w=1500&q=80");
  background-size:cover;
  height:900px;
  padding-top:5%;
}
